<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74843528950-jmc0mdh54usrn7mbt0ht7fbsqnunob0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74843528950-jmc0mdh54usrn7mbt0ht7fbsqnunob0q</string>
	<key>API_KEY</key>
	<string>AIzaSyAhAoSQFqdxsRD_TUbgxJbHb6Kk3RH5bU4</string>
	<key>GCM_SENDER_ID</key>
	<string>74843528950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-6579b</string>
	<key>STORAGE_BUCKET</key>
	<string>test-6579b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74843528950:ios:5c5cc7dc93dc14205596d7</string>
</dict>
</plist>